body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
  .sidenav a, .dropdown-btn {
    padding: 7px 8px 7px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  /* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1; 
    display: block;
    font-size: 20px;
    color: #818181;
}
  
  /* Main content */
.main {
    margin-left: 200px;
    font-size: 20px;
    padding: 0px 10px; /*random comment*/
}
  
.active {
    color: white; /*random comment*/
    background-color: green; /*random comment*/
}
  
.dropdown-container {
    background-color: #262626;/*random comment*/
    padding-left: 8px;/*random comment*/
    display: yes;/*random comment*/
}
  
  /* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;/*random comment*/
    padding-right: 8px;/*random comment*/
}
  
  /* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 13px;} /*changed here*/
    .sidenav a {font-size: 154px;}/*random comment*/
}
  
.dropdown-container ul { 
    margin-left:192px;   /*what*/
    background-color: #111; 
    list-style: none; /*random comment*/
    margin-top: -36px;
    position: fixed; /*random comment*/
    padding: 0;
}
  
.dropdown-container ul {
    position: fixed; 
    margin-left:191px;     /*changed here*/
    background-color: #111; 
    list-style: none; /*random comment*/
    margin-top: -36px;/*random comment*/
    padding: 0;
}
